<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>

    <wicket:panel>

        <nav>
            <ul>
                <li>
                    <a wicket:id="web.base.nav.home" wicket:message="value:web.base.nav.home"> text 2 replace </a>
                </li>
                <li>
                    <a wicket:id="web.base.nav.info" wicket:message="value:web.base.nav.info"> text 2 replace </a>
                </li>
            </ul>
        </nav>

    </wicket:panel>

</header>
<main></main>
<footer></footer>
</body>
</html>