<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
    <wicket:panel>

            <ul>
                <li>
                    <a wicket:id="NavPanel.HomePage">
                        <span wicket:id="NavPanel.HomePage.label"></span>
                    </a>
                </li>
                <li>
                    <a wicket:id="NavPanel.InfoPage">
                        <span wicket:id="NavPanel.InfoPage.label"></span>
                    </a>
                </li>
            </ul>

    </wicket:panel>
</html>